<%- include("partials/header"); -%>
<% if (user.username === id || user.isAdmin === true) { %>
    <form class="add-doc center">
        <h2>Create a wishlist</h2>
        <label for="wish">Your wish:</label>
        <input type="text" name="wish" required>
        <div class="wish error"></div>
        <button class="cool-btn">Add Wish</button>
    </form>
    <div class="center">
        <h2 class="manual" data-doc="<%= user.username %>">User Manual</h2>
    </div>
    <hr>
    <div class="wish-list">
        <% wishlist.forEach(function(wishlist) { %>
            <div class="wish-content">
                <h2 class="username"><%= wishlist.username %></h2><p class="wish"> - <%= wishlist.wish1 %></p>
            </div>

            <form class="delete-doc">
                <button class="wish-delete cool-btn" data-doc="<%= wishlist._id %>">Delete Wish</button>
            </form>

            <form class="wish-update">
                <h3>Update Wish</h3>
                <label for="updatedwish">Updated wish:</label>
                <input type="text" value="<%= wishlist.wish1 %>" name="updatedwish" required>

                <input type="hidden" value="<%= wishlist._id %>" name="updatewishid">
                <button class="cool-btn">Update Wish</button>
                <hr>
            </form>

        <% }); %>
    </div>
<% } else { %>
    <h2 class="center">You are not authorized to view this page</h2>
<% } %>

<script>
    // Adding wish
    const addForm = document.querySelector(".add-doc");
    const wishError = document.querySelector(".wish.error");
    const welcome = document.querySelector(".welcome");

    addForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        wishError.textContent = "";
        const wish1 = addForm.wish.value;
        const username = welcome.dataset.doc;

        try {
            const res = await fetch("/addwish", {
                method: "POST",
                body: JSON.stringify({ wish1, username }),
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();
            console.log(data);

            if (data.errors) {
                console.log(username)
                wishError.textContent = data.errors.wish1;
            }
            if (data.redirect) {
                location.reload();
            }
        } catch (err) {
            console.log(err);
        }
    });

    // Deleting document frontend
    const deleteButtons = document.querySelectorAll(".wish-delete");

    deleteButtons.forEach(button => {
    button.addEventListener("click", async (e) => {
        e.preventDefault();
        const id = e.target.dataset.doc;
    
        try {
            const res = await fetch(`/deletewish/${id}`, {
                method: "DELETE"
            });

            const data = await res.json();
            console.log(data);

            if (data.redirect) {
                location.reload();
            }
        } catch (err) {
            console.log(err);
        }
    });
});

// Updating a document
const updateForm = document.querySelectorAll(".wish-update")

updateForm.forEach((updatedForm) => {
    updatedForm.addEventListener("submit", async (e) => {
        e.preventDefault();

        const wish1 = updatedForm.updatedwish.value
        const id = updatedForm.updatewishid.value

        console.log(wish1, id)

        try {
            const res = await fetch(`/updatewish`, {
                method: "POST",
                body: JSON.stringify({ wish1, id }),
                headers: { "Content-Type": "application/json" }
            })
            const data = await res.json();
            console.log(data);

            if (data.response) {
                location.reload();
            }
        }
        catch (error) {
            console.log(error);
        }
    })
});

// Redirect to user manual
const redirectManual = document.querySelector('.manual');

    redirectManual.addEventListener('click', e => {
        e.preventDefault();
        location.assign(`/home/${redirectManual.dataset.doc}/manual`);
});

</script>

<%- include("partials/footer"); -%>
